<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    <link href="./style.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
    <body>
        <div class="navigation">
            <div class="nav-items">
                <div class="nav-item">
                    <div class="user">
                        <img src="" alt="userimg"/>
                    </div>
                </div>
                <div class="nav-item">
                    <a href="/"><i class="fa-solid fa-house"></i></a>
                </div>
                <div class="nav-item active">
                    <a href="/courses"><i class="fa-solid fa-book"></i></a>
                </div>
                <div class="nav-item">
                    <a href="/add"><i class="fa-solid fa-magnifying-glass"></i></a>
                </div>
            </div>
        </div>
        <div class="content">
            <p><%= Course.name %></p>
            <p><%= Course.description %></p>
        </div>
    </body>
</html>