<%
const activePage = 'home';
%>
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Home</title>
        <link href="style.css" rel="stylesheet"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>
    <body>
    <%- include("./static/nav.ejs", { activePage: activePage }) %>
        <div class="content">
            <div class="page_header">
                <h3><i class="fa-solid fa-home"></i> Student Home</h3>
            </div>
            <div id="course_container">

            </div>
            <div class="assignments_container">

            </div>
        </div>
        <script>
            window.addEventListener('load', () => {
              // Load courses from JSON file
              const courses = fetch('/getAllCourses');
                  courses.then(response => response.json())
                  .then(courses => {
                      console.log(courses);
                      // Iterate over courses and create course cards
                      courses.Courses.forEach(course => {
                          const courseDiv = document.createElement('div');
                          courseDiv.classList.add('course');
                          courseDiv.innerHTML = `
                                                  <span class="img">
                                                      <span style="background: rgba(${course.color},0.4);">
                                                      </span>
                                                      <img src="${course.image}" alt="courseimg"/>
                                                  </span>
                                                  <span class="info">
                                                      <span><a href="./course/${course.id}" style="color: rgba(${course.color}, 1); font-weight: 800;">${course.name}</a></span><BR>
                                                      <span style="color: #8d8d8d;">${course.description}</span>
                                                  </span>
                                              `;
                          document.getElementById('course_container').appendChild(courseDiv);
                      });
                  })
                  .catch(error => console.error('Error loading courses', error));
            })
            
        </script>
    </body>
</html>
